In [50]:
import pandas as pd
import numpy as np

In [51]:
#任务1：将列表转化为Numpy数据
date0=[2,3,4,5.5,6]
arr0=np.array(date0)

In [52]:
s = pd.Series(data=[100,'a',{'dic1':5}],
            index=pd.Index(['id1',20,'third'],name='my_idx'),
            dtype='object',
            name='my_name')

In [53]:
s2=pd.Series(["1","2","3","4"])

In [54]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [55]:
s2.values

array(['1', '2', '3', '4'], dtype=object)

In [56]:
d1={
    "作者":pd.Series(['余华','残雪','莫言']),
    "作品":pd.Series(['活着','暗夜','红高粱']),
    "价格":pd.Series(['25','45','55']),
}
df2=pd.DataFrame(d1)

In [57]:
#任务2：创建DataFrame类型的数据，并获取其索引 值及表大小
d={
    "one": pd.Series([1.0, 2.0, 3.0]),                           
    "two": pd.Series([1.0, 2.0,3.0,4.0])
}
df = pd.DataFrame(d)

In [58]:
贵州茅台原始数据 = pd.read_csv(R'data\600519.csv')

In [59]:
贵州茅台原始数据[['TURNOVER','volume']]

         TURNOVER  volume
0      1410347008  406318
1       463463008  129647
2       194689000   53252
3       177558000   48013
4        86231000   23231
...           ...     ...
4089   2694714080   49076
4090  10663392512  204397
4091   5239853056   96885
4092   5581027328   98107
4093   5227695104   89157

[4094 rows x 2 columns]

In [60]:
贵州茅台原始数据 = pd.read_csv(R'data\600519.csv')

In [61]:
#按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [62]:
#按照行索引
贵州茅台原始数据.loc[0]

day            2001/8/27
STOCK_CODE       6005191
open               34.51
close              35.55
maximum            37.78
minimum            32.85
volume            406318
TURNOVER      1410347008
Name: 0, dtype: object

In [63]:
贵州茅台=贵州茅台原始数据.set_index('day')

In [64]:
#loc索引器

In [84]:
贵州茅台.loc['2003-08-27',['open','close']]

KeyError: '2003-08-27'

In [70]:
#loc索引器#
#单个元素
贵州茅台.loc['2001-08-30']

KeyError: '2001-08-30'

In [ ]:
条件1=贵州茅台['open']<35
条件2=贵州茅台['close']<35
布尔列表=条件1&条件2
贵州茅台.loc[布尔列表]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001/10/17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001/10/18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001/10/19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001/10/22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001/11/8      6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004/9/21      6005191  32.09  32.30    32.98    32.09    8374   27222818
2004/9/22      6005191  32.03  32.16    32.49    32.03    4348   13965168
2004/9/23      6005191  32.11  33.42    33.52    32.11   17667   58219692
2004/9/24      6005191  33.60  34.49    35.89    33.60   30981  108295826
2004/9/27      6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [68]:
条件1=贵州茅台['open']<35
条件2=贵州茅台['close']<35
布尔列表=条件1&条件2
贵州茅台.loc[布尔列表]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001/10/17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001/10/18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001/10/19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001/10/22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001/11/8      6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004/9/21      6005191  32.09  32.30    32.98    32.09    8374   27222818
2004/9/22      6005191  32.03  32.16    32.49    32.03    4348   13965168
2004/9/23      6005191  32.11  33.42    33.52    32.11   17667   58219692
2004/9/24      6005191  33.60  34.49    35.89    33.60   30981  108295826
2004/9/27      6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [ ]:
#使用函数作为索引
def condition(pd):
    条件1=pd['open']<35
    条件2=pd['close']<35
    布尔列表=条件1 & 条件2
    return 布尔列表

In [67]:
贵州茅台.loc[condition]

            STOCK_CODE   open  close  maximum  minimum  volume   TURNOVER
day
2001/10/17     6005191  34.79  34.20    34.81    33.90   12507   42766000
2001/10/18     6005191  34.20  34.04    34.66    33.91    4983   16999000
2001/10/19     6005191  34.00  33.50    34.15    33.01   15687   52422000
2001/10/22     6005191  33.30  32.79    33.70    32.70    9760   32268000
2001/11/8      6005191  33.35  33.70    33.89    32.98    7402   24682000
...                ...    ...    ...      ...      ...     ...        ...
2004/9/21      6005191  32.09  32.30    32.98    32.09    8374   27222818
2004/9/22      6005191  32.03  32.16    32.49    32.03    4348   13965168
2004/9/23      6005191  32.11  33.42    33.52    32.11   17667   58219692
2004/9/24      6005191  33.60  34.49    35.89    33.60   30981  108295826
2004/9/27      6005191  34.95  34.93    35.98    34.50    6067   21339456

[498 rows x 7 columns]

In [85]:
贵州茅台.sample()

            STOCK_CODE  open  close  maximum  minimum  volume  TURNOVER
day
2005/12/26     6005191  44.2  44.21     44.5     43.8    6992  30863111

In [86]:
贵州茅台.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4094 entries, 2001/8/27 to 2018/11/2
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STOCK_CODE  4094 non-null   int64
 1   open        4094 non-null   float64
 2   close       4094 non-null   float64
 3   maximum     4094 non-null   float64
 4   minimum     4094 non-null   float64
 5   volume      4094 non-null   int64
 6   TURNOVER    4094 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 384.9+ KB

In [87]:
贵州茅台.describe()

,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
count,4094.0,4094.000000,4094.000000,4094.000000,4094.000000,4094.000000,4.094000e+03
mean,6005191.0,182.161910,182.435230,184.879680,179.801353,27092.525892,6.487986e+08
std,0.0,165.857882,165.994905,168.082099,163.752065,24623.472099,9.550262e+08
min,6005191.0,20.900000,20.880000,21.000000,20.710000,238.000000,1.421413e+06
25%,6005191.0,47.405000,47.482500,48.222500,46.705000,10186.750000,6.203505e+07
50%,6005191.0,159.930000,159.980000,161.910000,157.875000,22491.000000,3.727192e+08
75%,6005191.0,208.500000,209.457500,212.175000,205.945000,36759.500000,7.486596e+08
max,6005191.0,800.000000,799.190000,803.500000,788.880000,406318.000000,1.066339e+10

In [88]:
贵州茅台['open'].describe()

count    4094.000000
mean      182.161910
std       165.857882
min        20.900000
25%        47.405000
50%       159.930000
75%       208.500000
max       800.000000
Name: open, dtype: float64

In [89]:
result=贵州茅台['open'].unique()

In [91]:
result2=贵州茅台['open'].nunique()

In [92]:
result3=贵州茅台['open'].value_counts()

In [94]:
df=pd.DataFrame({
    "name":["A","B","C","B","C","A","C"],
    "value":[1,3,7,2,4,3,1]
})
df.groupby("name")["value"].sum()

name
A     4
B     5
C    12
Name: value, dtype: int64